:local(.houseDashBody) {
    height:94%;
}

:local(.checkChoreForm) {
    height:100%;
    padding:2% 2% 0 2%;
}

:local(.addChoreForm) {
    height:100%;
    padding:2% 2% 0 2%;
    background-color: #cceaed;
    
}