:local(.houseDashBody) {
    min-height:100%;
}

:local(.checkChoreForm) {
    min-height:100%;
    padding:2% 2% 0 2%;
}

:local(.addChoreForm) {
    min-height:100%;
    padding:2% 2% 0 2%;
    background-color: #cceaed;
    
}