
<md-card> 
    <canvas id="sumTargetChart" width="400" height="400"></canvas>
</md-card>
<!--<md-card ng-if="$ctrl.selectedChore !== 'all' && !$ctrl.noData">
    <canvas id="pieChart" width="400" height="400"></canvas>
</md-card>-->
<md-card ng-if="$ctrl.noData">
No Data
</md-card>

<md-card>
        <md-input-container>
        <label>Select Chore</label>
        <md-select ng-model="$ctrl.selectedChore" ng-change="$ctrl.makePieChart">
            <md-option ng-value="'all'">All Chores</md-option>
            <md-option ng-repeat="chore in $ctrl.house.chores track by $index" ng-value="chore.id">{{chore.name}}</md-option>
        </md-select>
    </md-input-container>
</md-card>
