<form ng-submit="$ctrl.customChore()">
  <h2>Add a Chore</h2>
  <md-input-container class="md-block">
  <label>Chore Name:</label>
    <input ng-model="$ctrl.name" type="text">
  </md-input-container>
  <md-input-container class="md-block">
  <label>Times/Month: </label>
    <input ng-model="$ctrl.target" type="text">
  </md-input-container>
  <md-input-container class="md-block">
  <label>Description:</label>
    <input ng-model="$ctrl.description" type="text">
  </md-input-container>
  <br>
  <md-button ng-click="$ctrl.addChore()">Submit</md-button>
</form>