:local(.body) {
    height:100%;
    margin:0 auto;
    line-height:25px;
}

:local(.profile) {
    background-color: #cceaed;
    padding:1% 1% 0 1%;
    height:100%;

    a {
        color: #00838F;
        font-weight:600;
        text-decoration:none;
    }
}

:local(.stats) {
    padding:1% 1% 0 1%;
}