<md-content>
    <form ng-submit="$ctrl.enterChore($ctrl.name, $ctrl.time)">
        <h2>Enter Completed Chores</h2>
        <md-input-container>
            <label>Chore Name:</label>
            <md-select ng-model="$ctrl.name">
                <md-option ng-value="">--Select Chore--</md-option>
                <md-option ng-repeat="chore in $ctrl.chores" ng-value="chore.name">{{chore.name}}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
        <label>Time Spent:</label>

            <md-select ng-model="$ctrl.time">
                <md-option ng-value="">--Select Time--</md-option>
                <md-option ng-repeat="obj in [{time: '0:15', units: 1}, {time: '0:30', units: 2}]" ng-value="obj.units">{{obj.time}}</md-option>
            </md-select>
        </md-input-container>
        
        <md-button type="submit">Submit</md-button>
    </form>
    <custom-chore id="$ctrl.id" add="$ctrl.add"></custom-chore>
</md-content>