<section ng-class="$ctrl.styles.navBar">
  <ul>
    <li><a ui-sref="home">Home</a></li>
    <li><a ui-sref="userDashboard">User Dashboard</a></li>
    <li><a ui-sref="houseDashboard">House Dashboard</a></li>
      <ul ng-class="$ctrl.styles.signInUp">
        <li><a ng-if="!$ctrl.isAuthenticated()" ui-sref="userDashboard">Sign In/Register</a></li> | 
        <!--TODO: Change signup route-->
        <li><a ng-if="$ctrl.isAuthenticated()" ui-sref="home" ng-click="$ctrl.logout()">Log Out</a></li>
      </ul>
  </ul>
</section>